name: lista_compras_mercado
description: A new Flutter project.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  hive: ^2.0.6
  hive_flutter: ^1.1.0
  dartz: ^0.10.1
  get_it: ^7.2.0
  bloc: ^8.0.2
  flutter_bloc: ^8.0.1



  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
